<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      All your orders in the specified date range are in the CSV attached.<br>
    </p>
    <p>Thanks!</p>
    <p>- Rocketees</p>
  </body>
</html>