<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey, Lucas</h1>
    <p>
      All current pending orders are in the CSV attachment.<br>
    </p>
    <p>Keep rockin' Rocketees!</p>
  </body>
</html>