<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hey Lucas,</p>
    <p>A job resulted in an error.</p>
    <p>Error data:</p>
    <p><%= @job_title %></p>
    <br>
    <p><%= @log1 %></p>
    <br>
    <p><%= @log2 %></p>
    <p>- Rocketees</p>
    <!--<p><b>P.S.</b> Would you like to get 7 days added to your free trial period? Then please do the following: (1) Like our Facebook page (<a href="https://www.facebook.com/Rocketees-1799681573383055/">click here</a>), and (2) Check out every part of the app on your computer, and then submit an honest (and hopefully positive!) review the Shopify App Marketplace (<a href="https://apps.shopify.com/rocketees">click here</a>). Finally, reply to this email letting us know and we'll extend your free trial!</p>-->
  </body>
</html>