<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hey,</p>

    <p>You recent orders weren't able to be processed. When we tried to charge your card for them we received this error:</p>

    <p>ERROR: <%= @status %></p>

    <p>Order Number: <%= @order_number %></p>

    <p>We won't be able to print and ship out your shirt until this issue is fixed.</p>

    <p>You will receive this email every night when we attempt to process your card until it is fixed. Alternatively, please let us know if you would like to cancel these particular orders.</p>

    <p>Thanks,</p>

    <p>Best regards,</p>
    <p>- Lucas Amorim</p>
    <b>Rocketees Co-Founder</b><br>
    <b>support@rocketees.com</b><br>

  </body>
</html>