<!DOCTYPE html>
<html lang="en">
  	<head>
	    <meta charset="utf-8" />
	    <title>Rocketees Admin</title>
	    <%= csrf_meta_tags %>

	    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

	    <style>
			body 	{background-color: #2D3840;}
			.admin 	{width: 50%;}
			h2   	{color: #F4F6F8; font-size: 3em; text-align: center; margin: 50px 0 20px 0; border-bottom: 1px solid #6D7A83; padding: 0 0 20px 0;}
			p    	{color: #F4F6F8; font-size: 1.2em; }
			input 	{padding:5px; color: #F4F6F8; background-color: #6D7A83; border: 1px solid #6D7A83; border-radius: 3px; margin: 15px auto; display: block;}
			input.admin-submit, input.tracking-submit, input.inventory-submit, input.export-orders-btn {display: block !important;}
			input#spreadsheet, input#inventory {background-color: #2D3840; border: none; display: inline-block;}
			.separator {border: none; height: 1px; background: #6D7A83;}
			.admin-table {border: 1px solid #6D7A83; margin-top: 50px;}
			.admin-table > thead > tr > th, .admin-table > thead > tr > td {border-bottom: 1px solid #6D7A83;}
			.admin-table > thead > tr > th, .admin-table > thead > tr > td, 
			.admin-table > tbody > tr > th, .admin-table > tbody > tr > td, 
			.admin-table > tfoot > tr > th, .admin-table > tfoot > tr > td {border: 1px solid #6D7A83}
			.admin p {text-align: center;}
    
		</style>
  	</head>

  	<body>
		<%= yield %>

  	</body>
</html>


