<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hey @shop_domain,</p>
    <p>I'm Lucas Amorim, a co-founder of Rocketees.</p>
    <p>I wanted to personally thank you for deciding to give Rocketees a try. Our goal here is to give you the best tees for the lowest price possible. If you have any questions or concerns, feel free to shoot me an email at anytime and I'll get back to you ASAP.</p>
    <p>Inside the app, you will find all the bonuses you were promised.</p>
    <p>Best regards,</p>
    <p>- Lucas Amorim</p>
    <b>Rocketees Co-Founder</b>
    <b>amorimluc@gmail.com</b>
  </body>
</html>